// Specific CSS for your home-page
#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.bouton-homepage {
  width: 211px;
  height: 46px;
  border-radius: 25px;
  background-color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  padding: 11px;
  color: #453d8e;
  margin-top: 550px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
  &:hover {
    text-decoration: none;
    background-color: #453d8e;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
}

.catchphrase {
  font-family: 'Archivo Black', sans-serif;
  font-size: 24px;
  line-height: 26.11px;
  color: white;
  align-items: left;
  vertical-align: top;
  word-spacing: 10px;
}


.catchphrase-container {
  height: 80vh;
  display: flex;
  align-items: center;
  width: 300px;
}

.homepage-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.banner {
  background-image: url('https://res.cloudinary.com/le-wagon-caddie/image/upload/v1642590633/dtswobkesqkh1mie5v42.png');
  background-size: 90%;
  background-position: right;
  background-repeat: no-repeat;
  height: 601px;
  width: 382px;
}

// .cat-image {
//   height: 50vh;
// }

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  padding: 16px;
}

.main-container {
  display: flex;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.div_wrapper {
  min-height: calc(100vh - 100px - 85px);
  align-items: center;
}
