.animal-img {
  height: 280px;
  position: relative;
  text-align: center;
}

.animal-img img{
  height: 200px;
  width: auto;
}

#animal-profile {
  padding-left: 32px;
  padding-right: 32px;
  background-color: #ffffff;
  padding-top: 32px;
  padding-bottom: 32px;
}

.animal-info {
  margin-top: 16px;
  margin-bottom: 32px;
  h5 {
    font-weight: bold;
  }
  p {
    font-size: 12px;
    margin-bottom: 8px;
  }
}

#animal-name {
  color: #453D8E;
  font-weight: bold;
  margin-bottom: 8px;
}

.reviews {
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: white;

}

#rating-star {
  color: #E7378A;
}
