.date-form {
  margin-top: 32px;
  text-align: center;
}

#past-bookings {
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
}

#new-booking {
  padding-left: 24px;
  padding-right: 24px;
}

.title-booking {
  margin-top: 24px;
}
