<%= link_to '< Back to the previous page', :back %>
<div class="container">

  <div class="p-3"><h2>My bookings</h2></div>

  <% @bookings.each do |booking| %>
  <div class="p-2">
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
          <h2><%= booking.animal.name %></h2>
          <p><%= booking.animal.species %></p>
          <p><%= booking.start_date %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
