<div class="footer">
  <div class="footer-links">
    <a href="http://localhost:3000">Home</i></a>
    <a href="http://localhost:3000/profile">Profile</i></a>

  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Caddie
  </div>
</div>
