<div class="footer">
  <div class="footer-links">
    <a href="http://localhost:3000">Home</i></a>
    <%= link_to "Profile", user_path(current_user) if user_signed_in? %>

  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Caddie
  </div>
</div>
