<div class="banner">
  <div class="homepage-container">
    <%= link_to animals_path, class: "bouton-homepage" do %>
      Check out our cuties
    <% end %>
    <div class="catchphrase-container">
      <h3 class="catchphrase">
        Feeling lonely?
        <br>
        <br> Rent an animal
        <br> that will confort
        <br> your soul!
      </h3>
    </div>
  </div>
</div>


  <%# <div>
    <%= image_tag "image.png", alt:"Cute reversed cat", height:"500px" %>
  <%# </div> %>

</div>
