<div class="homepage-container">

  <div class="catchphrase-container">
    <h3 class="catchphrase">
      Feeling lonely ?
      <br> Rent an animal
      <br> that will confort your soul!
    </h3>
  </div>

  <div>
    <%= image_tag "image.png", alt:"Cute reversed cat", height:"500px" %>
  </div>

</div>
