
<h2>Our lovely animals for rent</h2>

<div class="main-container">
  <div class="cards">
    <% @animals.each do |animal| %>
      <div class="card">
        <%if  animal.photo.attached? %>
          <%= cl_image_tag animal.photo.key%>
        <% else %>
          <img src="https://source.unsplash.com/random/300×300/?animal">
        <% end %>
        <div class="card-infos">
          <div class="div">
            <%= link_to animal.name, animal_path(animal) %>
            <%= animal.species %>
            <%= animal.species %>
          </div>
          <h2 class="card-availabilty">available</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
  <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoibWFub25yb2RyaWd1ZXptYXRlIiwiYSI6ImNrdzVjdnEzejBkZWYydnJoNGw1cWdqNDQifQ.7cnEirD_QeGU9gcF_zO7lw'>
</div>
