
<div class="container">
  <div class="title"><h2>My animals</h2></div>
  <div class="animals">
    <% @animals.each do |animal| %>
    <%= animal.name %>
    <% end %>
  </div>
  <div class="new-animal">
    <%= link_to "Put new animal up for rent", new_animal_path, class: "btn btn-primary" %>
  </div>
</div>
