.btn-primary {
  background-color: white;
  color: #453D8E;
  border-radius: 25px;
  padding: 6px 24px;
  font-weight: bold;
  box-shadow: -4px 0px 8px rgba(255, 255, 255, 0.4), 4px 4px 8px rgba(255, 255, 255, 0.4);
}

#btn-booking {
  width: 200px;
  margin-left: 10px;
  text-align: center;
}

#btn-review {
  width: 200px;
  margin-left: 10px;
  text-align: center;
  margin-top: 20px;
}

#btn-available {
  background-color: $light-gray;
  color: white;
  text-align: center;
  position: absolute;
  top: 320px;
  right: 80px;
}

#btn-available-disabled {
  background-color: #9486CB;
  color: #786EA0;
  text-align: center;
  position: absolute;
  top: 300px;
  right: 40px;
  border-radius: 25px;
  padding: 6px 24px;
  font-weight: bold;
}

.new-animal-btn {
  text-align: center;
  margin-top: 32px;
}
