.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 8px;
  padding: 0px;
}

#map {
  margin-top: 32px;
  margin-bottom: 32px;
}
