.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 8px;
  padding: 0px;
}

// #map {
  // margin-top: 32px;
  // margin-bottom: 32px;
// }

.container-map {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  z-index: 1;
  margin-top: 16px;
}
