.navbar-lewagon {
  justify-content: space-between;
  background: #A797E5;
  padding: 15px;
  width: 380px;
}

#navbar-flex {
  display: flex;
  justify-content: space-between;
  padding-left: 4px;
}


#nav-link-overwrite {
  color: white;
  font-size: large;
  padding: 8px 24px;
  border-radius: 4px;
  background: #4A6163;
  transition: background 0.2s ease;
  &:hover {
    background: white;
    color: #4A6163;

  }
}

#brand-name {
  padding: 8px;
  font-family: 'Archivo Black', sans-serif;
  font-style: italic;
  font-weight: 780;
  color: white;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  background-color:  rgba(0, 0, 0, 0.7);
  width: 375px;
  height: 720px;
  position: absolute;
  top: 20px;
  left: -4px;
  transform: translate3d(-322px, 48px, 0px);
}

.dropdown-menu.show {
  top: 20px;
  left: -4px;
  transform: translate3d(-30px, 48px, 0px);
  transition: .4s;
  right: 0;
}


.dropdown-item {
  color: white;
  height: 48px;
  padding-top: 8px;
  font-weight: bold;
  margin-top: 8px;
  &:hover {
    background-color: white;
    color: #4A6163;
  }
}
