.navbar-lewagon {
  justify-content: space-between;
  background: #CCC4BE;
  padding: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

#nav-link-overwrite {
  color: white;
  font-size: large;
  padding: 8px 24px;
  border-radius: 4px;
  background: #4A6163;
  transition: background 0.2s ease;
  &:hover {
    background: #19FE98;
  }
}

#brand-name {
  margin: -16px;
  font-family: nobile;
  font-style: italic;
  font-weight: 700;
  color: white;
}

.dropdown-menu {
  background-color: #CCC4BE;
}

.dropdown-item {
  color: white;
  &:hover {
    background-color: white;
    color: #4A6163;
  }
}
