.navbar-lewagon {
  justify-content: space-between;
  background: #CCC4BE;
  padding: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

#nav-link-overwrite {
  color: white;
  font-size: large;
  &:hover {
    font-weight: bold;
  }
}

#brand-name {
  margin: -16px;
  font-family: nobile;
  font-style: italic;
  font-weight: 700;
  color: white;
}
