<div class="container">
  <div class="title"><h2>Leave a review</h2></div>
  <div class="review-form">
    <%= simple_form_for [ @booking, @review ] do |f| %>
        <%= f.input :rating, as: :integer, required: true, label:false, input_html: { placeholder: "Rating (1-5)" } %>
        <%= f.input :content, as: :text, label:false, input_html: { placeholder: "Comment" } %>
        <%= f.submit class: 'btn btn-primary', id: 'btn-review' %>
    <% end %>
  </div>

</div>
